@import "node_modules/bootstrap/scss/bootstrap";

.chat-list {
  &__list {
    overflow: auto;
    margin: 0 !important;
    padding: 0 !important;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $gray-200;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $gray-500;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $gray-700;
    }
  }

  &__icon-add {
    height: $spacer * 1.5;
    width: $spacer * 1.5;
    fill: $white;
    cursor: pointer;

    &:hover {
      fill: $yellow;
    }
  }

  &__icon-remove {
    height: $spacer * 1.25;
    width: $spacer * 1.25;
    fill: $gray-700;
    cursor: pointer;
    position: absolute;
    z-index: 10;

    top: $spacer;
    right: $spacer;

    &:hover {
      fill: $black;
    }
  }

  .active + &__icon-remove {
    fill: $white;

    &:hover {
      fill: $yellow;
    }
  }
}
